node_modules
.idea/
docs/.vitepress/dist
docs/.vitepress/temp
.vscode
.DS_Store
/docs/.vitepress/cache
package-lock.json
packages
patches
playground
pnpm-workspace.yaml
!**/glob-import/dir/node_modules
.DS_Store
.idea
*.cpuprofile
*.local
*.log
/.vscode/
/docs/.vitepress/cache
/packages/vite/LICENSE
dist
dist-ssr
explorations
node_modules
playground-temp
temp
TODOs.md
.eslintcache
packages/vite/src/node
package.json
pnpm-lock.yaml
.github/workflows/ci.yml
