name: yuki-no

on:
  schedule:
    - cron: "0 0,12 * * *" # Every 12 hours
  workflow_dispatch: # Manual trigger

permissions:
  contents: write
  issues: write
  actions: read
  pull-requests: write

jobs:
  yuki-no:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "pnpm"

      # https://github.com/Gumball12/yuki-no/
      - uses: Gumball12/yuki-no@wip
        env:
          YUKI_NO_BATCH_PR_ROOT_DIR: docs
          YUKI_NO_BATCH_PR_EXCLUDE: |
            **/package.json
          # **/guide/migration*.md
          # **/.vitepress/config.ts
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
          head-repo: https://github.com/vitejs/vite.git
          track-from: 1a2e5e6d9a6bb2531bf73be801c9778dbf39d51b
          include: |
            docs/**
          plugins: |
            @yuki-no/plugin-release-tracking@latest
            @yuki-no/plugin-batch-pr@latest
